@font-face {
    font-family: 'ubutu-bold';
    src: url(../fonts/GoogleFonts-Ubuntu-Bold.ttf);
}
@font-face {
    font-family: 'ubutu-reg';
    src: url(../fonts/GoogleFonts-Ubuntu-Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* cabeçalho */
header{
    display: flex;
    width: 100%;
    height: 100px;
}
nav{
    display: flex;
    background-color: #1E7B5F;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
}
.logo{
    background-color: white;
    width: 430px;
    border-bottom: 1px solid #1E7B5F;
}
.logo > img{
    width: 150px;
    margin-left: 50px;
    margin-top: 5px;
}
nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
nav ul li{
    margin: 0 5px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 25px;
    margin: 40px;
    transition: all 0.3s ease;
    font-family: 'ubutu-bold', Helvetica, sans-serif;
}
nav ul li a.active,
nav ul li a:hover{
    color: black;
}
nav .menu-btn i{
    color: white;
    cursor: pointer;
    display: none;
}
@media (max-width: 920px){
    header{
        height: 130px;
    }
    .logo{
        width: 500px;    
    }
    .logo > img{
        width: 190px;
        margin: 10px;
    }
    nav .menu-btn i{
        display: block;
    }
    nav ul{
        position: fixed;
        top: 130px;
        left: -100%;
        background-color: #1E7B5F;
        height: 100vh;
        width: 30%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
    }
    nav ul.open{
        left: 0;
    }
    nav ul li{
        width: 100%;
        margin: 50px 0;
    }
    nav ul li a{
        font-size: 23px;
    }
    nav ul li a.active,
    nav ul li a:hover{
    background: none;
    color: black;
}
}
/* principal */
.main-home{
    width: 100%;
}
#main-home{
    background-image: url('../imgs/fotohome.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
}
.titulo-home {
    padding-top: 160px;
    padding-left: 50px;
    padding-bottom: 50px;
}
.titulo-home > h1{
    font-size: 90px;
    font-family: 'ubutu-bold', Helvetica, sans-serif;
}
.titulo-home > h2{
    font-size: 100px;
    font-family: 'ubutu-bold', Helvetica, sans-serif;
    color: #1E7B5F;
    text-shadow: 5px 5px 7px rgba(0, 0, 0, 0.63);
}
.caixas-home{
    padding: 40px;
    display: flex;
}
.caixas-home > .cx-1{
    background-color: #1E7B5F;
    color: white;
    padding: 35px;
    border-radius: 10px 0px 0px 10px;
    font-family: Arial, Helvetica, sans-serif;
    cursor:pointer;
    transition: transform 0.5s ease;
    text-decoration: none;
    font-family:  'ubutu-bold', Helvetica, sans-serif;

}
.caixas-home .cx-1:hover{
    transform: scale(1.1);
    box-shadow: 1px 1px 10px 1px rgba(255, 255, 255, 0.479);
}
.caixas-home > .cx2{
    background-color: black;
    color: white;
    padding: 35px;
    border-radius: 0px 10px 10px 0px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    transition: transform 0.5s ease;
    cursor: pointer;
    text-decoration: none;
    font-family:  'ubutu-bold', Helvetica, sans-serif;
}
.caixas-home .cx2:hover{
    transform: scale(1.1);
    box-shadow: 1px 1px 10px 1px rgba(255, 255, 255, 0.479);
}
.rodape-main-home  p{
    color: white;
    text-align: center;
    font-family: 'ubutu-reg', Helvetica, sans-serif;
    font-size: 35px;
    text-shadow: 5px 5px 7px rgba(0, 0, 0, 0.575);
}

/* sobre home */ 
.home-sobre-sd{
    width: 100%;
    background-color: #00704E;
    min-height: 50vh;
}
.header-sobre > h1{
    color: white;
    font-family: 'ubutu-bold', Helvetica, sans-serif;
    text-align: center;
    padding: 20px;
    font-size: 80px;
    text-shadow: 5px 5px 7px rgba(0, 0, 0, 0.63);
}
.main-sobre{
    display: flex;
    margin: 30px;
}
.img-sobre{
    background-color: white;
    width: 100%;
    height: 50vh;
    border-radius: 30px;
    box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.616);
    transition: transform 0.5s ease;
    cursor: pointer;
}
.img-sobre:hover{
    transform: scale(1.1);
}
#img-sobre{
    background-image: url(../imgs/foto-sobre.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-width: 30%;
}

.info-sobre{
    margin: 30px;
    align-items: center;
    display: flex;
}

.info-sobre > p {
    font-size: 18px;
    font-family: 'ubutu-reg', Helvetica, sans-serif;
    color: white;
    text-align: center;
    text-shadow: 5px 5px 7px rgba(0, 0, 0, 0.63);
}

/* serviços */
.ns-servi-home{
    width: 100%;
    max-height: 100vh;
}
.headar-servi{
    text-align: center;
    font-size: 25px;
    font-family: 'ubutu-bold', Helvetica, sans-serif;
    margin: 20px;
}
.cards-servi{
    display: flex;
    justify-content: center;
    margin: auto;
}
/* card de serviços */
.card{
    max-width: 400px;
    border: 1px solid black;
    margin: 20px;
    border-radius: 10px;
    color: white;
    background-color: #00704E;
    transition: transform 0.5s ease;
    text-decoration: none;
    box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.616);
    cursor: pointer;
}
.card:hover{
    transform: scale(1.1);
}
.img-card {
    width: 400px;
    height: 30vh;
    border-radius: 10px 10px 0px 0px;
}
#img-card1{
    background-image: url('/imgs/md-resd.jpg');
    background-size: cover;
    background-position-y: -200px;
    background-repeat: no-repeat;
    width: 100%;
}

#img-card2{
    background-image: url('/imgs/md-comerciais.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}
#img-card3{
    background-image: url('/imgs/md-exclusiva.jpg');
    background-size: cover;
    background-position-y: -100px;
    background-repeat: no-repeat;
    width: 100%;
}
#img-card4{
    background-image: url('/imgs/md-local.jpg');
    background-size: cover;
    background-position-y: -50px;
    background-repeat: no-repeat;
    width: 100%;
}
#img-card5{
    background-image: url('/imgs/montagem-desmontagem.jpg');
    background-size: cover;
    background-position-y: -100px;
    background-repeat: no-repeat;
    width: 100%;
}
#img-card6{
    background-image: url('/imgs/transporte-veiculo.jpeg.png');
    background-size: cover;
    background-position-y: -100px;
    background-repeat: no-repeat;
    width: 100%;
}
.header-cd > h1 {
    padding: 10px;
    text-align: center;
    font-family: 'ubutu-bold', Helvetica, sans-serif;
    font-size: 30px;
}
.header-cd > hr{
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.main-cd{ 
    padding: 13px;
    font-family: 'ubutu-reg', Helvetica, sans-serif;
    font-size: 24px;
}
/* serviços */
.main-servico{
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}
.caixas-serv{
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
}
.coluna-1{
    display: flex;
    margin: auto;
}
.coluna-2{
    display: flex;
    margin: auto;
}
.coluna-3{
    display: flex;
}
/* dicas */
.main-dicas{
    background-color: #00704E;
    width: 100%;
    padding-bottom: 50px;
}
.header-dicas{
    padding: 30px;
    color: white;
    font-size: 30px;
    text-align: center;
    font-family: 'ubutu-bold', Helvetica, sans-serif;
    text-shadow: 5px 5px 7px rgba(0, 0, 0, 0.63);

}
.caixas-dicas{
    display: flex;
    flex-direction: column;
}
.coluna-1-dc{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.coluna-2-dc{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.cx-dica-1  h1{
    font-family: 'ubutu-bold', Helvetica, sans-serif;
}
.cx-dica-1  p{
    font-family: 'ubutu-reg', Helvetica, sans-serif;
}
.cx-dica-1{
    max-width: 600px;
    
    background-color: white;
    padding: 30px;
    border-radius: 0px 10px 10px 0px;
}
.cx-dica-2{
 
    color: white;
    width: 600px;
    background-color: black;
    padding: 30px;
    border-radius: 10px 0px 0px 10px;
}
.cx-dica-2  h1{
    font-family: 'ubutu-bold', Helvetica, sans-serif;
}
.cx-dica-2  p{
    font-family: 'ubutu-reg', Helvetica, sans-serif;
}
.header-dica-cx{
    text-align: center;
    padding: 10px;
    font-size: 20px;
    margin-bottom: 10px;
}
.main-cx-dica{
    margin: 20px;
    text-align: center;
    font-size: 20px;
}
/* contato */
.main-contato{
    width: 100%;
}
.header-contato{
    background-color: #1E7B5F;
    color: white;
    text-align: center;
    padding: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 23px;
    box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.685);
    text-shadow: 5px 5px 7px rgba(0, 0, 0, 0.24);

}
.header-contato > h1{
    font-family: 'ubutu-bold', Helvetica, sans-serif;
}
.header-contato > p{
    font-family: 'ubutu-reg', Helvetica, sans-serif;
}
.contatos-info{
    width: 100%;
    max-height: 40vh;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
}
.contatos-info  h1{
    font-size: 60px;
    margin: 30px;
    font-family: 'ubutu-bold', Helvetica, sans-serif;

}
.contatos-info p {
    font-size: 40px;
    margin: 60px;
    font-family: 'ubutu-reg', Helvetica, sans-serif;

}
.solicitar-orcamento{
    background-color: #00704E;
    padding: 50px;
    width: 100%;
    margin-bottom: 50px;
    box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.685);
    text-shadow: 5px 5px 7px rgba(0, 0, 0, 0.24);
}
.main-sl-orcamento{
    display: flex;
    justify-content: space-around;
}
.sl-orc-bt > h1{
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.sl-orc-bt > button {
    width: 70%;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: black;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}
.sl-orc-bt > button:hover{
    background-color: #009b6c;
    color: white;
}
.sl-orc-bt > button:active{
    transform: translateY(4px);
    box-shadow: 0px 5px 0px rgba(255, 255, 255, 0.226);
    background-color: #009b6c;
    color: white;
}
.inputs-sl-orcamento{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.inputs-sl-orcamento  input{
    margin-top: 10px;
    margin-right: 10px;
    height: 40px;
    width: 200px;

}
.inputs-sl-orcamento  input::placeholder{
    color: gray;
}
#mesagem{
    width: 415px;
}
/* rodape */
.fotter-cd > img{
    width: 50px;
    margin-top: 10px;
    margin-left: 340px;
    color: white;
}

footer{
    display: flex;
    width: 100%;
    height: 60vh;
}
.logo-foter{
    border: 1px solid rgba(0, 0, 0, 0.541);
    width: 100%;
}
.logo-foter img{
    margin: 30px;
    width: 500px;
}
.contato-foter{
    background-color: #1E7B5F;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 30px;
    font-family: 'ubutu-reg', Helvetica, sans-serif;
    text-shadow: 5px 5px 7px rgba(0, 0, 0, 0.24);

}
.contato-foter > p{
    margin: 10px;
}

@media (max-width: 920px){
    header{
        height: 130px;
    }
    .logo{
        width: 500px;    
    }
    .logo > img{
        width: 190px;
        margin: 10px;
    }
    nav .menu-btn i{
        display: block;
    }
    nav ul{
        position: fixed;
        top: 130px;
        left: -100%;
        background-color: #1E7B5F;
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
    }
    nav ul.open{
        left: 0;
    }
    nav ul li{
        width: 100%;
        margin: 50px 0;
    }
    nav ul li a{
        font-size: 23px;
    }
    nav ul li a.active,
    nav ul li a:hover{
    background: none;
    color: black;
    }
    
    .main-home{
 
    }
    .titulo-home > h1{
        font-size: 40px;
    }
    .titulo-home > h2{
        font-size: 46px;
    }
    .caixas-home{
        padding: 0px;
    }
    .caixas-home > .cx-1{
        font-size: 9px;
        width: 50%;
        margin-left: 10px;
        max-height: 19vh;
        border-radius: 0px;
    }
    .caixas-home > .cx2{
        width: 50%;
        margin-right: 10px;
        font-size: 9px;
        max-height: 19vh;
        border-radius: 0px;
    }
    .rodape-main-home  p{
        color: white;
        padding-top: 10px;
    }

    .header-sobre > h1{
        font-size: 30px;
    }
    .home-sobre-sd{
        
    }
    .main-sobre{
        display: flex;
        flex-direction: column;
    }
    .img-sobre{
        width: 300px;
        margin: auto;
        max-height: 30vh;
    }
    .info-sobre > p{
        font-size: 20px;
    }
    main{
      
    }
    .ns-servi-home{
        max-height: 100%;
    }
    .cards-servi{
        display: flex;
        flex-direction: column;
    }
    .cards-servi  a{
        width: 90%;
    }

    .main-servico{
    }
    .caixas-serv{
        display: flex;
        flex-direction: column;
    }
    .coluna-1{
        display: flex;
        flex-direction: column;
    }
    .coluna-2{
        display: flex;
        flex-direction: column;
    }
    .card{
        width: 90%;
    }
    .main-dicas{
    }
    .coluna-1-dc{
        display: flex;
        flex-direction: column;
    }
    .coluna-2-dc{
        display: flex;
        flex-direction: column;
    }
    .cx-dica-1{
        width: 90%;
    }
    .cx-dica-2{
        width: 90%;
        margin-left: 40px;
        margin-top: 10px;
    }

    .header-contato{
        width: 100%;
    }
    .contatos-info > h1 {
        font-size: 30px;
        margin: 10px;
    }
    .contatos-info > p {
        font-size: 20px;
        margin: 30px;
    }
    .solicitar-orcamento{
        width: 100%;
    }
    .main-sl-orcamento{
        display: flex;
        flex-direction: column;
    }
    .sl-orc-bt{
        margin: 20px;
    }
    .sl-orc-bt > h1{
        font-size: 50px;
    }
    .inputs-sl-orcamento{
        display: flex;
    }
    .inputs-sl-orcamento  input{
        margin-top: 20px;
    }
    #mesagem{
        width: 100%;
    }
    footer{
        display: flex;
        flex-direction: column;
    }
    .logo-foter{
        width: 100%;
    }
    .logo-foter > img{
        width: 80%;
    }
    .contato-foter{
        padding: 20px;
        font-size: 30px;
        width: 100%;
    }
}
@media(min-width:1600px){

    .titulo-home h1,h2{
        font-size: 100pt;
    }
    .cx-1,.cx2{
        width: 500px;
        height: 200px;
    }
    .rodape-main-home p{
        font-size: 50pt;
    }
    .info-sobre p{
        font-size: 30pt;
    }

}
@media(min-width:1700px){

    .titulo-home h1,h2{
        font-size: 140pt;
    }
    .cx-1,.cx2{
        width: 600px;
        height: 250px;
    }

}
@media(min-width:1000px){
    .info-sobre p{
        font-size: 28pt;
    }
    .caixas-dicas p{
        font-size: 10pt ;
    }
}
@media(max-width:1200px){
    .info-sobre p{
        font-size: 15pt;
    }
    .caixas-dicas p{
        font-size: 18pt;
    }
}
@media(min-width:1300px){
    .inputs-sl-orcamento input{
        width: 500px;
        height: 70px;
        display: flex;
        font-size: 20pt;
    }
    .contatos-info p{
        font-size: 40pt;
    }
    .header-contato{
        font-size: 30pt;
    }
}
@media(min-width:923px){
    #img-sobre{
        min-width: 20%;
        height: 300px;
        padding: 40px;
    }
}
@media(min-width:1600px){
    .caixas-dicas p{
        font-size: 30pt;
    }
}
@media(max-width:990px){
    .caixas-dicas p{
        font-size: 15pt;
    }
}
@media(min-width:1800px){
    .caixas-dicas p{
        font-size: 30pt;
    }
}
@media(min-width:1180px){
    .caixas-dicas p{
        font-size: 20pt;
    }
    #img-sobre{
        padding: 200px;
    }
}

@media(min-width:2000px){
    .caixas-dicas p{
        font-size: 30pt;
    }
}
@media(min-width:1400px){
    .info-sobre p{
        font-size: 35pt;
    }
}